.data-latest {
    
    .dashboard-stat2  {
        padding: 15px 15px 5px 15px;

        .fa {
            font-size: 250%;
            color: #cbd4e0;
            margin-right: 10px;
            margin-top: 15px;
        }
        

    }
    
}
