

.about-text h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 14px;
}

.about-text .about-quote > h3 {
    border-color: #ccc;
    border-left: 3px solid #ccc;
    font-style: italic;
    line-height: 1.3em;
    padding-left: 1em;
}

.about-text h5 {
    font-size: 18px;
    font-weight: 600;
}

.sleeptrack-logo img {
    margin-top: 20px;
}