<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">

            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="index.html">
                    <img src="http://res.cloudinary.com/photozzap/image/upload/c_scale,w_300/v1446560646/gc_website_assets/sleeptrack_slim_logo.png" alt="Logo">
                </a>
                <!-- END LOGO -->

                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <div class="btn-group btn-group-md btn-group-solid margin-bottom-10">
                        <button class="btn red" type="button">99% <i class="fa fa-battery-full"></i> </button>
                        <button class="btn green" type="button"><i class="fa fa-wifi"></i> Online</button>
                        <button class="btn blue" type="button"><i class="fa fa-clock-o"></i> 7hr</button>
                    </div>

                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                        <span class="sr-only">Toggle Quick Sidebar</span>
                        <i class="icon-logout"></i>
                    </button>
                    <!-- END QUICK SIDEBAR TOGGLER -->

                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>

            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="dropdown dropdown-fw active open selected">-->
                    <li class="dropdown dropdown-fw" ng-class="{active:   $state.includes('home'),
                                                                open:     $state.includes('home'),
                                                                selected: $state.includes('home')}">
                        <a href="#/home" class="text-uppercase">
                            <i class="fa fa-home"></i>Home</a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="active">
                                <a href="index.html">
                                    <i class="fa fa-info-circle"></i>Overview
                                </a>
                            </li>

                            <li>
                                <a href="dashboard_2.html">
                                    <i class="icon-bulb"></i>Features</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{active:   $state.includes('control'),
                                                                open:     $state.includes('control'),
                                                                selected: $state.includes('control')}">
                        <a href="#/control" class="text-uppercase">
                            <i class="fa fa-power-off"></i>Control</a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="active">
                                <a href="index.html">
                                    <i class="fa fa-bolt"></i> Realtime Mode
                                </a>
                            </li>

                            <li>
                                <a href="dashboard_2.html">
                                    <i class="fa fa-bed"></i> Night Mode</a>
                            </li>
                        </ul>                            

                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{active:   $state.includes('data'),
                                                                open:     $state.includes('data'),
                                                                selected: $state.includes('data')}">
                        <a href="#/data" class="text-uppercase">
                            <i class="fa fa-bar-chart"></i>Data</a>

                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{active:   $state.includes('settings'),
                                                                open:     $state.includes('settings'),
                                                                selected: $state.includes('settings')}">
                        <a href="#/settings" class="text-uppercase">
                            <i class="fa fa-cog"></i>Settings</a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="active">
                                <a href="index.html">
                                    <i class="fa fa-cog"></i>Default Settings
                                </a>
                            </li>
                        </ul>                            

                    </li>

                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
    </nav>
</header>