<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="toggle-icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="index.html">
                <img src="http://res.cloudinary.com/photozzap/image/upload/c_scale,w_300/v1446560646/gc_website_assets/sleeptrack_slim_logo.png" alt="Logo">
                </a>
                <!-- END LOGO -->

                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <div class="btn-group btn-group-md btn-group-solid margin-bottom-10">
                        <button class="btn red" type="button">99% <i class="fa fa-battery-full"></i> </button>
                        <button class="btn green" type="button"><i class="fa fa-wifi"></i> Online</button>
                        <button class="btn blue" type="button"><i class="fa fa-clock-o"></i> 7hr</button>
                    </div>
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span>Hi, Marcus</span>
                        <img src="../assets/layouts/layout5/img/avatar1.jpg" alt="">
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="page_user_profile_1.html">
                                <i class="icon-user"></i> My Profile <span class="badge badge-danger">1</span> </a>
                            </li>
                            <li>
                                <a href="app_calendar.html">
                                <i class="icon-calendar"></i> My Calendar </a>
                            </li>
                            <li>
                                <a href="app_inbox.html">
                                <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="app_todo_2.html">
                                <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                7 </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="page_user_lock_1.html">
                                <i class="icon-lock"></i> Lock Screen </a>
                            </li>
                            <li>
                                <a href="page_user_login_1.html">
                                <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                    </button>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
            <!-- BEGIN HEADER MENU -->
<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
                        <li class="dropdown dropdown-fw  active open selected">
            <a href="javascript:;" class="text-uppercase">
            <i class="icon-home"></i>            Dashboard            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                                                                    <li >
                        <a href="index.html">                            
                            <i class="icon-bar-chart"></i>                            Default                        </a>
                    </li>
                
                                                                    <li class="active">
                        <a href="dashboard_2.html">                            
                            <i class="icon-bulb"></i>                            Dashboard 2                        </a>
                    </li>
                
                                                                    <li >
                        <a href="dashboard_3.html">                            
                            <i class="icon-graph"></i>                            Dashboard 3                        </a>
                    </li>
                
                            </ul>
        </li>
                        <li class="dropdown dropdown-fw  ">
            <a href="javascript:;" class="text-uppercase">
            <i class="icon-puzzle"></i>            Features            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-diamond"></i>                            UI Features                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="ui_colors.html">                            
                                                                Color Library                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_general.html">                            
                                                                General Components                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_buttons.html">                            
                                                                Buttons                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_confirmations.html">                            
                                                                Popover Confirmations                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_icons.html">                            
                                                                Font Icons                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_socicons.html">                            
                                                                Social Icons                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_typography.html">                            
                                                                Typography                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_tabs_accordions_navs.html">                            
                                                                Tabs, Accordions & Navs                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_tree.html">                            
                                                                Tree View                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_timeline.html">                            
                                                                Timeline                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_page_progress_style_1.html">                            
                                                                Page Progress Bar - Flash                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_page_progress_style_2.html">                            
                                                                Page Progress Bar - Big Counter                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_blockui.html">                            
                                                                Block UI                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_bootstrap_growl.html">                            
                                                                Bootstrap Growl Notifications                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_notific8.html">                            
                                                                Notific8 Notifications                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_toastr.html">                            
                                                                Toastr Notifications                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_bootbox.html">                            
                                                                Bootbox Dialogs                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_alerts_api.html">                            
                                                                Metronic Alerts API                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_session_timeout.html">                            
                                                                Session Timeout                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_idle_timeout.html">                            
                                                                User Idle Timeout                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_modals.html">                            
                                                                Modals                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_extended_modals.html">                            
                                                                Extended Modals                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_tiles.html">                            
                                                                Tiles                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_timeline.html">                            
                                                                Timeline                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_datepaginator.html">                            
                                                                Date Paginator                            </a>
                        </li>
                                                                        <li >
                            <a href="ui_nestable.html">                            
                                                                Nestable List                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-puzzle"></i>                            Components                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="components_date_time_pickers.html">                            
                                                                Date & Time Pickers                            </a>
                        </li>
                                                                        <li >
                            <a href="components_color_pickers.html">                            
                                                                Color Pickers                            </a>
                        </li>
                                                                        <li >
                            <a href="components_select2.html">                            
                                                                Select2 Dropdowns                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_select.html">                            
                                                                Bootstrap Select                            </a>
                        </li>
                                                                        <li >
                            <a href="components_multi_select.html">                            
                                                                Multi Select                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_select_splitter.html">                            
                                                                Select Splitter                            </a>
                        </li>
                                                                        <li >
                            <a href="components_typeahead.html">                            
                                                                Typeahead Autocomplete                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_tagsinput.html">                            
                                                                Bootstrap Tagsinput                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_switch.html">                            
                                                                Bootstrap Switch                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_maxlength.html">                            
                                                                Bootstrap Maxlength                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_fileinput.html">                            
                                                                Bootstrap File Input                            </a>
                        </li>
                                                                        <li >
                            <a href="components_bootstrap_touchspin.html">                            
                                                                Bootstrap Touchspin                            </a>
                        </li>
                                                                        <li >
                            <a href="components_form_tools.html">                            
                                                                Form Widgets & Tools                            </a>
                        </li>
                                                                        <li >
                            <a href="components_context_menu.html">                            
                                                                Context Menu                            </a>
                        </li>
                                                                        <li >
                            <a href="components_editors.html">                            
                                                                Markdown & WYSIWYG Editors                            </a>
                        </li>
                                                                        <li >
                            <a href="components_code_editors.html">                            
                                                                Code Editors                            </a>
                        </li>
                                                                        <li >
                            <a href="components_ion_sliders.html">                            
                                                                Ion Range Sliders                            </a>
                        </li>
                                                                        <li >
                            <a href="components_noui_sliders.html">                            
                                                                NoUI Range Sliders                            </a>
                        </li>
                                                                        <li >
                            <a href="components_knob_dials.html">                            
                                                                Knob Circle Dials                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-settings"></i>                            Form Stuff                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="form_controls.html">                            
                                                                Bootstrap Form<br>Controls                            </a>
                        </li>
                                                                        <li >
                            <a href="form_controls_md.html">                            
                                                                Material Design<br>Form Controls                            </a>
                        </li>
                                                                        <li >
                            <a href="form_icheck.html">                            
                                                                iCheck Controls                            </a>
                        </li>
                                                                        <li >
                            <a href="form_layouts.html">                            
                                                                Form Layouts                            </a>
                        </li>
                                                                        <li >
                            <a href="form_editable.html">                            
                                                                Form X-editable                            </a>
                        </li>
                                                                        <li >
                            <a href="form_wizard.html">                            
                                                                Form Wizard                            </a>
                        </li>
                                                                        <li >
                            <a href="form_validation.html">                            
                                                                Form Validation                            </a>
                        </li>
                                                                        <li >
                            <a href="form_image_crop.html">                            
                                                                Image Cropping                            </a>
                        </li>
                                                                        <li >
                            <a href="form_fileupload.html">                            
                                                                Multiple File Upload                            </a>
                        </li>
                                                                        <li >
                            <a href="form_dropzone.html">                            
                                                                Dropzone File Upload                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="?p=">                            
                            <i class="icon-wallet"></i>                            Portlets                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="portlet_boxed.html">                            
                                                                Boxed Portlets                            </a>
                        </li>
                                                                        <li >
                            <a href="portlet_light.html">                            
                                                                Light Portlets                            </a>
                        </li>
                                                                        <li >
                            <a href="portlet_solid.html">                            
                                                                Solid Portlets                            </a>
                        </li>
                                                                        <li >
                            <a href="portlet_ajax.html">                            
                                                                Ajax Portlets                            </a>
                        </li>
                                                                        <li >
                            <a href="portlet_draggable.html">                            
                                                                Draggable Portlets                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-bar-chart"></i>                            Charts                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="charts_amcharts.html">                            
                                                                amChart                            </a>
                        </li>
                                                                        <li >
                            <a href="charts_flotcharts.html">                            
                                                                Flot Charts                            </a>
                        </li>
                                                                        <li >
                            <a href="charts_flowchart.html">                            
                                                                Flow Charts                            </a>
                        </li>
                                                                        <li >
                            <a href="charts_google.html">                            
                                                                Google Charts                            </a>
                        </li>
                                                                        <li >
                            <a href="charts_echarts.html">                            
                                                                eCharts                            </a>
                        </li>
                                                                        <li >
                            <a href="charts_morris.html">                            
                                                                Morris Charts                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-pointer"></i>                            Maps                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="maps_google.html">                            
                                                                Google Maps                            </a>
                        </li>
                                                                        <li >
                            <a href="maps_vector.html">                            
                                                                Vector Maps                            </a>
                        </li>
                                                </ul>
                    </li>
                
                            </ul>
        </li>
                        <li class="dropdown dropdown-fw  ">
            <a href="javascript:;" class="text-uppercase">
            <i class="icon-briefcase"></i>            Tables            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                                                        Static Tables                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="table_static_basic.html">                            
                                                                Basic Tables                            </a>
                        </li>
                                                                        <li >
                            <a href="table_static_responsive.html">                            
                                                                Responsive Tables                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                                                        Datatables                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="table_datatables_managed.html">                            
                                                                Managed Datatables                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_buttons.html">                            
                                                                Buttons Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_colreorder.html">                            
                                                                Colreorder Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_rowreorder.html">                            
                                                                Rowreorder Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_scroller.html">                            
                                                                Scroller Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_fixedheader.html">                            
                                                                FixedHeader  Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_responsive.html">                            
                                                                Responsive  Extension                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_editable.html">                            
                                                                Editable Datatables                            </a>
                        </li>
                                                                        <li >
                            <a href="table_datatables_ajax.html">                            
                                                                Ajax Datatables                            </a>
                        </li>
                                                </ul>
                    </li>
                
                            </ul>
        </li>
                        <li class="dropdown dropdown-fw  ">
            <a href="javascript:;" class="text-uppercase">
            <i class="icon-layers"></i>            Pages            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-basket"></i>                            eCommerce                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="ecommerce_index.html">                            
                                <i class="icon-home"></i>                                Dashboard                            </a>
                        </li>
                                                                        <li >
                            <a href="ecommerce_orders.html">                            
                                <i class="icon-basket"></i>                                Orders                            </a>
                        </li>
                                                                        <li >
                            <a href="ecommerce_orders_view.html">                            
                                <i class="icon-tag"></i>                                Order View                            </a>
                        </li>
                                                                        <li >
                            <a href="ecommerce_products.html">                            
                                <i class="icon-graph"></i>                                Products                            </a>
                        </li>
                                                                        <li >
                            <a href="ecommerce_products_edit.html">                            
                                <i class="icon-graph"></i>                                Product Edit                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-docs"></i>                            Apps                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="app_todo.html">                            
                                <i class="icon-clock"></i>                                Todo 1                            </a>
                        </li>
                                                                        <li >
                            <a href="app_todo_2.html">                            
                                <i class="icon-check"></i>                                Todo 2                            </a>
                        </li>
                                                                        <li >
                            <a href="app_inbox.html">                            
                                <i class="icon-envelope"></i>                                Inbox                            </a>
                        </li>
                                                                        <li >
                            <a href="app_calendar.html">                            
                                <i class="icon-calendar"></i>                                Calendar                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-user"></i>                            User                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="page_user_profile_1.html">                            
                                                                Profile 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_profile_1_account.html">                            
                                                                Profile 1 Account                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_profile_1_help.html">                            
                                                                Profile 1 Help                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_profile_2.html">                            
                                                                Profile 2                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_1.html">                            
                                                                Login Page 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_2.html">                            
                                                                Login Page 2                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_3.html">                            
                                                                Login Page 3                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_4.html">                            
                                                                Login Page 4                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_5.html">                            
                                                                Login Page 5                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_login_6.html">                            
                                                                Login Page 6                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_lock_1.html">                            
                                                                Lock Screen 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_user_lock_2.html">                            
                                                                Lock Screen 2                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-social-dribbble"></i>                            General                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="page_general_about.html">                            
                                                                About                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_contact.html">                            
                                                                Contact                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_portfolio_1.html">                            
                                                                Portfolio 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_portfolio_2.html">                            
                                                                Portfolio 2                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_portfolio_3.html">                            
                                                                Portfolio 3                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_portfolio_4.html">                            
                                                                Portfolio 4                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_search.html">                            
                                                                Search 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_search_2.html">                            
                                                                Search 2                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_search_3.html">                            
                                                                Search 3                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_search_4.html">                            
                                                                Search 4                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_search_5.html">                            
                                                                Search 5                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_pricing.html">                            
                                                                Pricing                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_faq.html">                            
                                                                FAQ                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_blog.html">                            
                                                                Blog                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_blog_post.html">                            
                                                                Blog Post                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_invoice.html">                            
                                                                Invoice                            </a>
                        </li>
                                                                        <li >
                            <a href="page_general_invoice_2.html">                            
                                                                Invoice 2                            </a>
                        </li>
                                                </ul>
                    </li>
                
                                                                    <li class="dropdown more-dropdown-sub">
                        <a href="javascript:;">                            
                            <i class="icon-settings"></i>                            System                        </a>
                        <ul class="dropdown-menu">
                                                                        <li >
                            <a href="page_system_coming_soon.html">                            
                                                                Coming Soon                            </a>
                        </li>
                                                                        <li >
                            <a href="page_system_404_1.html">                            
                                                                404 Page 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_system_404_2.html">                            
                                                                404 Page 2                            </a>
                        </li>
                                                                        <li >
                            <a href="page_system_404_3.html">                            
                                                                404 Page 3                            </a>
                        </li>
                                                                        <li >
                            <a href="page_system_500_1.html">                            
                                                                500 Page 1                            </a>
                        </li>
                                                                        <li >
                            <a href="page_system_500_2.html">                            
                                                                500 Page 2                            </a>
                        </li>
                                                </ul>
                    </li>
                
                            </ul>
        </li>
                <li class="dropdown more-dropdown">
            <a href="javascript:;" class="text-uppercase">
            More
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- END HEADER MENU -->    