
$gc-header-font: Oswald,sans-serif;
$gc-header-color: get-color(blue-sharp);

h1 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    margin-top: 5px;
}


h2 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    font-size: 150%;
}

h3 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    font-size: 125%;
}
