

/* ensure that two-column layout has enough spacing */
@media (min-width: 992px) {
    .left-column {
         padding-right: 50px;
    }
}

/* on mobile devices, use all available horizontal space */
@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar-fixed-top {
        padding-left: 10px;
        padding-right: 10px;
    }
}
