---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "colors",
        "index"
;


$gc-header-font: Oswald,sans-serif;
$gc-header-color: get-color(blue-sharp);

h1 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    margin-top: 5px;
}


h2 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    font-size: 150%;
}


.left-column {
    padding-right: 50px;
}


.update-date {
    font-size: 14px !important;
    position: relative;
    top: -10px;
    left: 5px;
}
