---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Import partials from `sass_dir` (defaults to `_sass`)
@import "../../common_sass/_colors.scss";
@import "../../common_sass/_headers.scss";
@import "../../common_sass/_layout.scss";
@import "../../common_sass/_text_formatting.scss";
@import
        "index",
        "blog"
;


.update-date {
    background-color: get-color(grey-salt);
    font-size: 14px !important;
    position: relative;
    left: 5px;
}

h1 {
    .update-date {
        top: -10px;
    }
}

h2 {
    .update-date {
        top: -5px;
    }
}