---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "colors",
        "index",
        "blog"
;


$gc-header-font: Oswald,sans-serif;
$gc-header-color: get-color(blue-sharp);

h1 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    margin-top: 5px;
}


h2 {
    color: $gc-header-color;
    font-family: $gc-header-font;
    text-transform: uppercase;
    font-size: 150%;
}


/* ensure that two-column layout has enough spacing */
@media (min-width: 992px) {
    .left-column {
         padding-right: 50px;
    }
}

/* on mobile devices, use all available horizontal space */
@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.update-date {
    background-color: get-color(grey-salt);
    font-size: 14px !important;
    position: relative;
    left: 5px;
}

h1 {
    .update-date {
        top: -10px;
    }
}

h2 {
    .update-date {
        top: -5px;
    }
}