<h1>Current Status <span class="label label-default update-date">2016/03/11</span></h1>
<div class="row progress-thumbnails">
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817692/gc_website_blog/progress_update_1/sleeptrack_prototype_top.jpg" class="img-responsive">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817616/gc_website_blog/P2070018.jpg" class="img-responsive">
    </div>    
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817858/gc_website_blog/progress_update_1/sleeptrack_v2_pcb_front.jpg" class="img-responsive">
    </div>        
</div>
<h2>Device</h2>
<ul>
    <li>Perma-proto prototype working with IMU and battery shields, mounted on headband.</li>
    <li>Second PCB rev printed, issues with IMU chip footprint.</li>
    <li>Issues with relability of EMG signal, thinking of using external electrodes.</li>
    <li>Working firmware which collects EMG readings and IMU data, and periodically uploads to GC server.</li>
</ul>
<h2>Web App</h2>
<ul>
    <li>Backend servers (collecting data from device) stable, deployed in a docker instance.</li>
    <li>InfluxDB and Grafana instances deployed.</li>
    <li>Angular front-end allows user to interact with device, start realtime mode, or night mode and view nightly stats.</li>
</ul>