<h1>Current Status <span class="label label-default update-date">2016/07/09</span></h1>
<div class="row progress-thumbnails">
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817692/gc_website_blog/phase1_hardware/sleeptrack_phase1_components.jpg" class="img-responsive">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817616/gc_website_blog/phase1_hardware/3d_printed_case_1.jpg" class="img-responsive">
    </div>    
    <div class="col-md-4 col-sm-4 col-xs-4 progress-thumbnail">
        <img src="https://res.cloudinary.com/photozzap/image/upload/c_fill,h_300,w_400/v1454817858/gc_website_blog/phase1_hardware/sleeptrack_phase1_headshot_1.jpg" class="img-responsive">
    </div>        
</div>
<h2>Device</h2>
<ul>
    <li>Built Phase 1 prototype with battery charging and EMG sensor only.</li>
    <li>Designed 3d printed case for device to be worn headband.</li>
    <li>Night testing will take place over the coming weeks.</li>
    <li>Firmware is stable and data collection functionality is complete.</li>
</ul>
<h2>Web App</h2>
<ul>
    <li>Backend servers (collecting data from device) stable, deployed in a docker instance.</li>
    <li>InfluxDB and Grafana instances deployed.</li>
    <li>Angular front-end allows user to interact with device, start realtime mode, or night mode and view nightly stats.</li>
</ul>