<header class="page-header">
    <nav role="navigation" class="navbar mega-menu">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button data-target=".navbar-responsive-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a href="index.html" class="page-logo" id="index">
                    <img src="https://res.cloudinary.com/photozzap/image/upload/c_scale,w_300/v1446560646/gc_website_assets/sleeptrack_slim_logo.png" alt="Logo"> </a>
                <!-- END LOGO -->

            </div>
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-fw  active open selected">
                        <a class="text-uppercase" href="javascript:;">
                            <i class="fa fa-home"></i> Home</a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="active">
                                <a href="index.html">
                                    <i class="icon-bar-chart"></i> Default </a>
                            </li>
                            <li>
                                <a href="dashboard_2.html">
                                    <i class="icon-bulb"></i> Dashboard 2 </a>
                            </li>
                            <li>
                                <a href="dashboard_3.html">
                                    <i class="icon-graph"></i> Dashboard 3 </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-fw" >
                        <a href="#/control" class="text-uppercase">
                            <i class="fa fa-rss"></i>Blog</a>
                          

                    </li>
                    
                    <li class="dropdown dropdown-fw" >
                        <a href="#/control" class="text-uppercase">
                            <i class="fa fa-power-off"></i>Control</a>
                          

                    </li>
                    <li class="dropdown dropdown-fw" >
                        <a href="#/data" class="text-uppercase">
                            <i class="fa fa-bar-chart"></i>Data</a>
                            

                    </li>
                    <li class="dropdown dropdown-fw" >
                        <a href="#/settings" class="text-uppercase">
                            <i class="fa fa-cog"></i>Settings</a>

                    </li>                    
                    
                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>