.post {
    
    .post-date {
        text-align: left;
        color: get-color(grey-gallery);
        margin-right: 50px;
    }
}

.blog-entry {
    img {
        margin-top: 20px;
    }    
    
}

.post-content {
    img {
        margin-top: 20px;
    }
}