
.about-text {

    padding-right: 50px;

    .about-quote > h3 {
        border-color: #ccc;
        border-left: 3px solid #ccc;
        font-style: italic;
        line-height: 1.3em;
        padding-left: 1em;
    }

    li {
        margin-bottom: 8px;
    }
    
    li > p {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    i.fa {
        font-size: 125%;
        color: #525e64;
        margin-bottom: 3px;
        margin-right: 3px;
    }
    
    
}

.project-status {

    /*
    .update-date {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 50px;
        font-size: 140%;
        color: get-color(grey-salt);
    } 
    */
    .update-date {
        font-size: 14px;
        position: relative;
        top: -10px;
        left: 5px;
    }
    
    img {
        margin-top: 30px;    
    }
}
