--- 
layout: default
section: home
---


<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12 left-column">

    <h1>Get In Touch</h1>
    <h2>Send us a message</h2>
    <p>Interested in discussing this project? 
    </p>
    {% include email.html %}
    
    <h2>Sign up for updates</h2>
    <div class='mailmunch-forms-widget-233572'></div>
    
    <h2>Other resources</h2>
    <ul>
        <li>
            <a href="https://groups.google.com/forum/#!forum/bruxhackers">Bruxhackers Mailing List</a>
                : discussions around anti-bruxism devices, EMG sensors, and other remedies (medicine, supplements) for bruxism and teeth grinding.
        </li>
        <li>
            <a href="http://chompr.blogspot.com">Anthony's Blog</a>: another sufferer of bruxism working
            on his own device, and frequent contributor on the Bruxhackers list.
        </li>
    </ul>

    

  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 project-status">
    <div class="row" style="margin-bottom: 20px;">
      {% include project_description.html %}
    </div>      
    <div class="row">
      {% include current_status.html %}
    </div>
    <div class="row">
      {% include latest_post.html %}
    </div>
    <div class="row">
      <img class="img-responsive center-block logo" src="https://res.cloudinary.com/photozzap/image/upload/c_scale,w_300/v1448113449/gc_website_assets/sleeptrack_square_logo.png"></img>
    </div>
    
  </div>
</div>
