<div class="container-fluid">
    <div class="page-content">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-12">
                <h1>Settings</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Particle Access Token</h2>
                <p>Allows access to your Sleeptrack device</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="access_token">Particle Access Token</label>
                        <input type="text" class="form-control" id="access_token" placeholder="Access Token" ng-model="settings.user_obj.particle_access_token" style="width: 400px;">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="settings.verify_token()">Set</button>
                </form>
                <p><span ng-show="settings.show_status.login_verifying">Verifying...</span>
                    <span ng-show="settings.show_status.login_ok">Login OK</span>
                    <span ng-show="settings.show_status.login_error">Login Error: {{settings.show_status.login_error_text}}</span>
                </p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Devices</h2>
                <div ng-show="settings.show_status.listing_devices" class="alert" ng-class="settings.show_status.listing_device_class" role="alert">
                    <span ng-show="settings.show_status.listing_devices">Listing Devices...</span>
                    <strong ng-show="settings.show_status.listing_devices_ok">OK</strong>
                    <strong ng-show="settings.show_status.listing_devices_error">Error</strong>
                    <span ng-show="settings.show_status.listing_devices_error">{{show_status.listing_devices_error_text}}</span>
                </div>
                <p>
                </p>
                <div class="panel panel-default" ng-show="settings.show_status.listing_devices_ok" ng-repeat="device in settings.devices">
                    <div class="panel-body">
                        Device: {{device.name}} Online: {{device.connected}}
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            
        </div>
    </div>

</div>
